.item {
    background-color: aqua;
    width: 100%;
}

span.item {
    display: inline-block;
    width: 150px;
    padding: 15px;
    margin: 15px;
}

.img {
    /* display: block; */
}

.item>img+span {
    vertical-align: 15px;
}

.menu {
    list-style-type: none;
    padding: 0;
    font-size: 0;
}

.menu>li {
    display: inline-block;
    font-size: initial;
}

.menu>li:not(:last-child) {
    border-right: 1px solid yellow;
}

.menu>li a {
    display: inline-block;
    background-color: brown;
    padding: 5px 20px;
}

.w-50 {
    width: 50%;
    padding: 5px 0;
}

.test {
    padding: 25px;
    border: 4px solid black;
    width: calc(50% - 10px);
    /* width: calc(100% - 50px - 50px - 8px); */
    margin: 5px;
    background-color: bisque;
    box-sizing: border-box;
    /* float: left; */
}

.margin {
    background-color: blue;
}

.margin>div {
    background-color: brown;
    margin: 15px;
}

.margin>div:nth-child(2) {
    margin-top: 50px;
}

.container {
    max-width: 400px;
    margin: 50px auto 10px;
    background-color: aqua;
    padding: 0 15px;
}

.row {
    margin: 0 -15px;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

.product {
    padding: 15px;
    float: left;
    width: 33.33333%;
    box-sizing: border-box;
}

.product span {
    background-color: brown;
    display: block;
}
