@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./fonts/montserrat-v25-latin-ext-regular.woff2') format('woff2'),
        url('./fonts/montserrat-v25-latin-ext-regular.woff') format('woff');

}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('./fonts/montserrat-v25-latin-ext-600.woff2') format('woff2'),
        url('./fonts/montserrat-v25-latin-ext-600.woff') format('woff');

}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('./fonts/montserrat-v25-latin-ext-700.woff2') format('woff2'),
        url('./fonts/montserrat-v25-latin-ext-700.woff') format('woff');

}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./fonts/poppins-v20-latin-ext-regular.woff2') format('woff2'),
        url('./fonts/poppins-v20-latin-ext-regular.woff') format('woff');

}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('./fonts/poppins-v20-latin-ext-700.woff2') format('woff2'),
        url('./fonts/poppins-v20-latin-ext-700.woff') format('woff');

}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #544837;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.header {
    margin-bottom: 70px;
}

img.logo {
    max-width: 200px;
}

nav.navigation>ul {
    padding-top: 26px;
    padding-bottom: 26px;
    display: flex;
    justify-content: space-evenly;
}

a.navigation__link {
    font-size: 16px;
    line-height: 28px;
    color: #2F281E;
    text-decoration: none;
}

a.navigation__link:visited {
    color: #2F281E;
}

li.navigation__item:first-of-type>a.navigation__link {
    color: #FF9900;
}

ul.authorization {
    display: flex;
    justify-content: flex-end;

}

a.authorization__sign-in,
a.authorization__sign-up {
    display: block;
    width: 110px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    text-decoration: none;
}

a.authorization__sign-in {
    border: 1px solid #BCD0E5;
    background-color: transparent;
    color: #2F281E;
    border-radius: 4px;
    margin-right: 32px;
}

a.authorization__sign-up {
    background: #FF9900;
    color: #FFFFFF;
    border: 1px solid #FF9900;
    border-radius: 4px;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
    margin-top: 0;
    margin-bottom: 30px;
}

p.hero-paragraph {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    width: 180px;
    padding: 13px 0px;
    background: #FF9900;
    border-radius: 4px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

section.first-screen {
    margin-bottom: 100px;
}

section.features {
    padding-bottom: 74px;
    margin-bottom: 100px;
    background-image: url(../images/bg-large.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #2F281E;
    margin: 0;
}

.feature {
    margin-top: 50px;
    margin-bottom: 70px;
    align-items: flex-start;
}

.feature-item {
    display: flex;
    flex-direction: column;
}

img.feature-item__image {
    max-width: 50px;
    margin-bottom: 30px;
}

strong.feature-item__feature {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #2F281E;
    margin-bottom: 16px;
}

p.simple-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

footer.footer {
    padding-top: 70px;
    padding-bottom: 70px;
    border-top: 1px solid rgba(188, 208, 229, 0.496913);
}

footer.footer div.row {
    align-items: flex-start;
}

h3.footer-header {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #2F281E;
}

li.footer-list__item {
    margin-top: 15px;
}

li.footer-list__item:first-of-type {
    margin-top: 30px;
}

a.footer-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    color: #544837;
}

a.footer-link:visited {
    color: #544837;
}

input.footer-form-input {
    box-sizing: border-box;
    font-family: inherit;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px 10px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

input.footer-form-input::placeholder {
    color: #BCD0E5;
}

footer.footer form>button {
    border: none;
    cursor: pointer;
}
