.hero {
    background-image: url(../images/hero_bg.jpg);
    background-size: cover;
    height: 1028px;
    margin-top: -190px;
    padding: 260px 0 466px;
    @extend %transition;

    &__item {
        width: 100%;
        max-width: 523px;
    }

    &__title {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 52px;
        color: $title-light;
        @extend %transition;

        @media screen and (max-width: 768px) {
            font-size: 33px;
            line-height: 41px;
        }

        @media screen and (max-width: 576px) {
            font-size: 27px;
            line-height: 36px;
            text-align: center;
        }
    }

    &__text {
        @extend %main-text-light;
        margin: 20px 0 50px;

        @media screen and (max-width: 768px) {
            margin: 20px 0 30px;
        }

        @media screen and (max-width: 576px) {
            text-align: center;
        }
    }

    &__link {
        @media screen and (max-width: 576px) {
            display: block;
            width: 90px;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 992px) {
        padding: 250px 0 70px;
        height: 870px;
    }

    @media screen and (max-width: 768px) {
        padding: 250px 0 35px;
        height: 740px;
        background-size: cover;
    }

    @media screen and (max-width: 576px) {
        height: 725px;  
    }

    @media screen and (max-width: 450px) {
        height: 840px;  
    }

}
