.section {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(3, minmax($grid-min-width, $grid-width));
    grid-template-rows: min-content;
    gap: $grid-gap;
    justify-content: center;

    &__header {
        margin-bottom: 50px;
        grid-column-start: 1;
        grid-column-end: -1;
    }

    &__block {
        border-radius: 20px;
        overflow: hidden;

    }
}

@media screen and (max-width: $bp-md) {
    .page {
        padding-top: 80px;

        &__section {
            margin-bottom: 80px;
        }
    }

    .h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .section {
        grid-template-columns: repeat(2, minmax($grid-min-width, $grid-width));
        gap: calc($grid-gap / 10 * 6);
        grid-auto-flow: row dense;

        &__header {
            margin-bottom: 40px;
        }

    }
}

@media screen and (max-width: $bp-sm) {
    .page {
        padding-top: 60px;

        &__section {
            margin-bottom: 60px;
        }
    }

    .h2 {
        font-size: 18px;
        line-height: 24px;
    }

    .section {
        grid-template-columns: repeat(1, minmax($grid-min-width, $grid-width));
        gap: calc($grid-gap / 10 * 4);
        grid-auto-flow: row dense;

        &__header {
            margin-bottom: 30px;
        }
    }
}

@media screen and (min-width: calc($bp-sm + 1px)) {

    div.section__block_col-span-2 {
        grid-column-end: span 2;
        padding-bottom: 50%;
    }



    div.section__block_row-col-span-2 {
        grid-column-end: span 2;
        grid-row-end: span 2;
        padding-bottom: 100%;
    }

}

div.section__block_row-span-2 {
    grid-row-end: span 2;
    padding-bottom: 200%;
}

.image {
    position: relative;
    padding-bottom: 100%;

    &:hover {
        &>.image__gradient {
            display: none;
        }

        &>.image__like {
            display: block;
        }

        &>.image__download {
            display: block;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__name {
        margin: 20px;
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: calc(50% - 20px);
    }

    &__date {
        margin: 20px;
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: calc(50% - 20px);
        text-align: right;
    }

    &__gradient {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        background: linear-gradient(360deg, #241F24 0%, rgba(91, 91, 91, 0.447552) 34.11%, rgba(187, 186, 192, 0.26) 62.5%);
    }

    &__like {
        display: none;
        margin: 20px;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__download {
        display: none;
        margin: 20px;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.name {
    font-weight: 500;
    color: $color-photo-name;
}

.date {
    font-weight: 400;
    color: $color-photo-date;
}

.like {
    width: 40px;
    height: 40px;
    background-color: rgba(224, 224, 224, 0.5);
    border-radius: 8px;
    background-image: url(../images/like.svg);
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
        background-color: rgba(224, 224, 224, 1);
        cursor: pointer;
    }
}

.download {
    width: 40px;
    height: 40px;
    background-color: rgba(224, 224, 224, 0.5);
    border-radius: 8px;
    background-image: url(../images/download.svg);
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
        background-color: rgba(224, 224, 224, 1);
        cursor: pointer;
    }
}
