@import './vars';
@import './reset';
@import './fonts';
@import './section';

.page {
    padding-top: 120px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;

    &__section {
        margin-bottom: 120px;
    }
}

.h2 {
    display: block;
    font-family: 'Delius Unicase', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    color: $color-header;
    text-align: center;
}
