// colors
$color-red: red;
$color-black: black;

$bg-color-body: $color-red;

// fonts
$default-font-name: 'Roboto';
$main-font: $default-font-name,
Arial,
Helvetica,
sans-serif;
$path-fonts: '../fonts/';

$gap: 15px;

$default-width: 1200px;
