

.light-dark__box{
    width: 30px;
    height: 60px;
    background-color: black;
    border-radius: 30px;
    position: fixed;
    top: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.light-dark__box svg{
    margin: 2px;
}

.tumbler{
    width: 23px;
    height: 23px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    top: 33px;
    @extend %transition;
}

.checkbox{
    position: fixed;
    top: 144px;
    left: 3px;
    width: 24px;
    height: 30px;
    opacity: 0;
    z-index: 3;
    @extend %transition;
}

.checkbox:checked{
    top: 116px;
}


.checkbox:checked ~ .light-dark__box > .tumbler {
    top: 4px;
}

    // ** LIGHT--DARK ** //

.checkbox:checked ~ .theme {
    background: #161926;


    // ** EXTEND ** //


    %main-text-light{
        color: $text-dark;
    }

    %main-title-light{
        color: $title-dark;
    }

    %link-light{
        color: $link-dark;
    }

    %hover-link-light{
        color: $link-dark-hover;
    }

    %span-light{
        color: $italic-dark;
    }

    // ** GLOBAL ** //
    

    .link {
        &:hover{
            &::before{
                background-color: $link-bg-dark-hover
            }
        }
        &::before{
            background-color: $link-bg-dark;
        }
    }


    // ** HEADER ** //
    
    .nav {
        &__link {
            color: $title-dark;

            &::before{
                background-color: rgba(83, 243, 205, 0.3);
            }
        }
    }

    // ** HERO ** //

    .hero {
        background-image: url(../images/hero_bg_dark.jpg);
        
        &__title{
            color: $title-dark;
        }

        &__text{

        }
    }

    // ** TRIL ** //

    .tril {
        &__content{
            background-color: $bg-block-dark;
        }

        &__title{
            color: $title-dark;
        }
    }

    .dollar{
        color: $dolar-dark;
    }

    // ** BENEFITS ** //

    .benefits{
        &__item{
            &::before{
                background-color: #515773;
            }
        }
    }

    // ** QUOTE ** //

    .quote{
        &__title{
            &::before{
                background-image: url(../images/quote_vector_dark.png);
            }
        }
    }

    // ** VIDEO ** //

    .video {
        &__wrapper{
            border: 1px solid #515773;
        }

        &__content{
            &::before{
                border: 1px solid #515773;
            }

            &::after{
                border: 1px solid #515773;
            }
        }
    }

    // ** PROMISES ** //

    .promises{
        &__content{
            background-color: $bg-block-dark;
        }

        &__title{
            color: $title-dark;
        }
    }

    .link-box{
        border: 1px solid #515773;
    }

    // ** CONTACT ** //

    .contact{
        &__wrapper{
            border-top: 1px solid #515773;
            border-bottom: 1px solid #515773;
        }
    }

    .form{
        &__input{
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 0.5);
            background-color: transparent;
        }
    }

    // ** FOOTER ** //

    .footer{
        &__text{
            color: rgba(225, 225, 225, .5);
        }

        &__link{
            color: $title-dark;
        }
    }
}
