// colors
$title-light: #262A3F;
$title-dark: #FFFFFF;
$italic-light: #85BBB1;
$italic-dark: #689FF2;
$link-light: #F1897B;
$link-light-hover: #E64F3A;
$link-bg-light: rgba(241, 137, 123, .3);
$link-bg-light-hover: rgba(229, 79, 58, .3);
$link-bg-dark: rgba(83, 243, 205, .3);
$link-bg-dark-hover: rgba(2, 224, 171, .2);
$link-dark: #53F3CD;
$link-dark-hover: #02E0AB;
$text-light: rgba(38, 42, 63, .8);
$text-dark: rgba(255, 255, 255, .8);
$bg-block-light: rgba(255, 255, 255, .9);
$bg-block-dark: rgba(22, 25, 38, .9);;
$dolar-light: #E4E4E4;
$dolar-dark: #FFFFFF;




// fonts
$default-font-name: 'Lato';
$main-font: $default-font-name,
Arial,
Helvetica,
sans-serif;
$path-fonts: '../fonts/';

$gap: 15px;

$default-width: 1200px;

$breack-points: ("lg": 1200px,
    "md": 1024px,
    "sm": 768px,
    "xs": 576px,
    "xxs": 480px);

$transition: all .4s ease-in-out;
