$blog-margin-bottom: 20px;

.blog {
    display: grid;
    //grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    padding: 15px;

    @include media(sm) {
        grid-template-columns: 1fr;
    }

    &__title {
        grid-column: 1 / -1;
    }

    &__item {
        &:first-of-type {
            grid-column: 1 / -1;

            @include media-mob(sm) {
                grid-template-columns: 350px 1fr;
                grid-template-rows: max-content 1fr max-content;

                .blog-article__img {
                    grid-column: 1;
                    grid-row: 1 / -1;
                }
            }
        }

        &:nth-of-type(n+2):nth-of-type(-n+3) {
            grid-column: span 3;

            @include media(sm) {
                grid-column: span 1;
            }
        }

        &:nth-of-type(n+4) {
            grid-column: span 2;

            @include media(md) {
                grid-column: span 3;
            }

            @include media(sm) {
                grid-column: span 1;
            }
        }

    }
}

.blog-article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 330px max-content 1fr max-content;
    gap: 20px;

    &__img {
        width: 100%;
        height: 100%;
        margin-bottom: $blog-margin-bottom;
        object-fit: cover;
        object-position: center;
    }

    &__title {
        text-transform: uppercase;
        font-size: 30px;
        margin: 0;
    }

    &__text {
        margin-top: 0;

    }

    &__btn {
        justify-self: end;
    }
}
