.footer-block {
    &__header {
        font-weight: 700;
        font-size: 2.0rem;
        line-height: 3.0rem;
        color: $color_header;
    }

    &__list {
        margin-top: 30px;
    }

    &__list-item {
        margin-bottom: 15px;
    }

    &__list-item:last-of-type {
        margin-bottom: 0px;
    }

    &__input {
        font-family: inherit;
        font-style: inherit;
        font-weight: inherit;
        font-size: 1.6rem;
        line-height: 2.0rem;
        padding-top: 15px;
        padding-bottom: 15px;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid $color_borders;
        border-radius: 4px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
