.hero-block {

    &__header {
        margin-bottom: 30px;
    }

    &__paragraph {
        font-size: 1.8rem;
        line-height: 2.8rem;
        font-weight: 400;
        margin-bottom: 20px;
    }
}

.button {
    display: block;
    width: 180px;
    border: none;
    background: $color_contrast;
    border-radius: 4px;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    color: $color_bg;
    padding-top: 13px;
    padding-bottom: 13px;
    cursor: pointer;

    &:link {
        color: $color_bg;
    }

    &:visited {
        color: $color_bg;
    }
}
