.contact{
    height: 700px;
    position: relative;

    &__wraper{
        position: absolute;
        width: 770px;
        height: 450px;
        background: $color-white;
        padding: 90px 60px 70px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -150px;
    }

    &__title{
        font-family: $def-font;
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        text-align: center;
        color: $color-gray;
        position: relative;
        margin: 0 0 45px;

        &::before{
            content: "";
            position: absolute;
            width: 100px;
            height: 1px;
            background-color: $color-gray;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

#map{
    height: 700px;
    width: 100%;
}


.form{
    display: flex;
    justify-content: space-between;

    &__info{
        width: 268px;
        margin-right: 54px;
        display: flex;
        flex-direction: column;
    }

    &__info-item{
        text-decoration: none;
        color: $color-black;
        font-family: $def-font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 40px;
    }

    &__enter{
        width: 310px;
        display: flex;
        flex-direction: column;
    }

    &__enter-input{
        width: 310px;
        height: 41px;
        opacity: 0.2;
        border-bottom: 1px solid $color-gray;
        margin-bottom: 33px;
        

        &:last-child{
            margin-bottom: 30px;
        }

        &:focus{
            opacity: 1;
            outline: none;
            box-shadow: 5px 5px 10px #bebcbc;
            border-bottom: unset;
        } 

        &.error{
            opacity: 1;
            box-shadow: 5px 5px 10px #dd8383;
            border-bottom: unset;
        }

        
    }


    &__enter-submit{
        font-family: $def-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $color-black;
        text-decoration: none;
        border: 1px solid $color-gray;
        padding: 16px 41px 17px;
        background-color: $color-white;
        max-width: 140px;
        transform: translateX(170px);
    }
}
