.contact{
    height: 700px;
    position: relative;

    &__wraper{
        position: absolute;
        width: 770px;
        background: $color-white;
        padding: 90px 60px 70px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -150px;

        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(106, 125, 157, 0.5);
            background-position: 50% 50%;
            background-image: url(../images/loader.gif);
            background-repeat: no-repeat;
            left: 0;
            top: 0;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            transition: all easy 0.5s;
        }
        &.sending {
            &::before {
                opacity: 1;
                visibility: visible;
            }
        }

        @media screen and (max-width: 992px){
            width: 680px;
            padding: 65px 35px 45px;
        }
        @media screen and (max-width: 768px){
            width: 100%;
            max-width: 540px;
            padding: 55px 25px 35px;
        }
        @media screen and (max-width: 650px){
            max-width: 450px;
            padding: 55px 15px 30px;
        }
        @media screen and (max-width: 480px){
            max-width: 370px;
        }
    }
    &__title{
        font-family: $def-font;
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        text-align: center;
        color: $color-gray;
        position: relative;
        margin-bottom: 45px;

        &::before{
            content: "";
            position: absolute;
            width: 100px;
            height: 1px;
            background-color: $color-gray;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
        }

        @media screen and (max-width: 768px){
            font-size: 40px;
            line-height: 45px;
            margin-bottom: 30px;
        }
        @media screen and (max-width: 480px){
            font-size: 38px;
            line-height: 40px;
            margin-bottom: 30px;
        }
    }

    &__img{
        width: 17px;
        height: 17px;
        margin-right: 10px;
    }
}

#map{
    height: 700px;
    width: 100%;
}


.form{
    display: flex;
    justify-content: space-between;   


    &__info{
        width: 293px;
        margin-right: 47px;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 992px){
            width: 100%;  
            margin-right: unset;          
        }
    }

    &__info-item{
        text-decoration: none;
        color: $color-black;
        font-family: $def-font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 40px;

        &:last-child{
            margin-bottom: 0;
        }

        @media screen and (max-width: 992px){
            display: block;
            text-align: center;  
            margin-bottom: 20px;   
            
            &:last-child{
                margin-bottom: 20px;  
            }
        }
        @media screen and (max-width: 480px){ 
            margin-bottom: 15px;  
            font-size: 17px;
            line-height: 24px; 
            
            &:last-child{
                margin-bottom: 15px;  
            }
        }

    }

    &__enter{
        width: 310px;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 992px){
            width: 100%;            
        }
    }

    &__enter-input{
        font-family: $def-font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #4B5562;
        width: 310px;
        height: 41px;
        opacity: 0.5;
        border-bottom: 1px solid $color-gray;
        margin-bottom: 33px;
        transition: all .4s ease-in-out;

        

        &:last-child{
            margin-bottom: 30px;
        }

        &:focus{
            opacity: 1;
            outline: none;
            box-shadow: 5px 5px 10px #bebcbc;
            border-bottom: unset;
        } 

        &.error{
            opacity: 1;
            box-shadow: 5px 5px 10px #dd8383;
            border-bottom: unset;
        }

        @media screen and (max-width: 992px){
            width: 70%;    
            margin: 0 auto 33px;        
        }
        @media screen and (max-width: 480px){    
            margin: 0 auto 25px;  
            font-size: 17px;
            line-height: 24px;
            width: 80%;    
        }

        
    }


    &__enter-submit{
        font-family: $def-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $color-black;
        text-decoration: none;
        border: 1px solid $color-gray;
        padding: 16px 41px 17px;
        background-color: $color-white;
        max-width: 140px;
        transform: translateX(170px);

        @media screen and (max-width: 992px){
            transform: unset;           
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 992px){
       flex-direction: column;
       justify-content: center;
       align-items: center;           
    }

}
 
