.gallery{
    padding: 180px 0 150px;

    &__title{
        font-family: $def-font;
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        text-align: center;
        color: $color-gray;
        position: relative;
        margin: 0 0 90px;

        &::before{
            content: "";
            position: absolute;
            width: 100px;
            height: 1px;
            background-color: $color-gray;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
        }

        @media screen and (max-width: 480px){
            font-size: 38px;
            line-height: 40px;
            margin: 0 0 50px;
        }
    }

    &__link{
        display: flex;
        justify-content: center;
    }

    @media screen and (max-width: 1200px){
        padding: 100px 0 130px;
    }
    @media screen and (max-width: 992px){
        padding: 85px 0 110px;
    }
    @media screen and (max-width: 768px){
        padding: 70px 0 90px;
    }
    @media screen and (max-width: 480px){
        padding: 50px 0 50px;
    }

}

.gallery-box{
    display: flex;
    flex-wrap: wrap;
    margin: -5px;

    &__big{
        width: 50%;
    
        & > .glightbox{
            width: 100%;
            max-width: 100%
        }

        @media screen and (max-width: 1200px){
            margin: 0 auto;
            width: 590px;
        }
        @media screen and (max-width: 768px){
            width: 100%;
            max-width: 590px;
        }
    }

    &__small{
        width: 50%;
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: 1200px){
            margin: 0 auto;
            width: 590px;
        }
        @media screen and (max-width: 768px){
            width: 100%;
            max-width: 590px;
        }
    }
    
    &__bottom{
        width: 100%;
        display: flex;
        opacity: 0;
        pointer-events: none;
        height: 0;
        transition: all ease-in-out .5s;
        
    
        &.open{
            opacity: 1;
            height: 100%;
            pointer-events: visible;
        }

        @media screen and (max-width: 1200px){
            width: 590px;
            flex-wrap: wrap;
            margin: 0 auto;
        }
        @media screen and (max-width: 768px){
            width: 100%;
            max-width: 590px;
        }
    }

    @media screen and (max-width: 1200px){
        flex-direction: column;
    }
    @media screen and (max-width: 768px){
        padding: 0 15px;
    }
}

.glightbox{
    text-decoration: none;
    display: block;
    line-height: 0;
    max-width: 50%;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        background-image: url(../images/gallery_zoom.svg);
        background-repeat: no-repeat;
        left: 50%;
        top: 50%;
        width: 70px;
        height: 70px;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity ease .4s;  
    } 

    &:hover{
        &::after{
            opacity: 1;
        }
    }

    @media screen and (max-width: 768px){
        padding: 5px;
    }
}

.glight-image{
    width: 100%;
    max-width: 285px;
    margin: 5px;
    min-height: 214px;
    position: relative;

    &.big{
        width: 100%;
        min-height: 438px;
        max-width: 580px;

        @media screen and (max-width: 620px){
            min-height: unset;
        }
    }

    @media screen and (max-width: 768px){
        margin: unset;
    }
    @media screen and (max-width: 620px){
        min-height: unset;
    }
}

.see-more{
    z-index: 2;
    margin-top: 76px;
    margin-bottom: 17px;
}

.hidden{
    display: none;
}
