.gallery{
    padding: 180px 0 150px;

    &__title{
        font-family: $def-font;
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        text-align: center;
        color: $color-gray;
        position: relative;
        margin: 0 0 90px;

        &::before{
            content: "";
            position: absolute;
            width: 100px;
            height: 1px;
            background-color: $color-gray;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__link{
        margin-top: 76px;
        margin-bottom: 17px;
        display: flex;
        justify-content: center;
    }

}

.gallery-box{
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}

.glightbox{
    text-decoration: none;
    display: block;
    line-height: 0;
    max-width: 50%;  
}

.gallery-box__big{
    width: 50%;

    .glightbox{
        max-width: unset;  
    }
}

.gallery-box__small{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.gallery-box__bottom{
    width: 100%;
    display: flex;
}

.glight-image{
    padding: 5px;
    
    
}
