@include grid();

@import './vars';

*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.link-box{
    font-family: $def-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $color-black;
    text-decoration: none;
    border: 1px solid $color-gray;
    padding: 16px 41px 17px;
    transition: all ease .4s;

    &:hover{
        border: 1px solid #7E5AFF;
        color: #7E5AFF;
    }
}
