.projects{
    padding-top: 130px;
    position: relative;

    &__wraper{
        justify-content: space-between;
        margin-bottom: 177px;
        display: flex;
        align-items: center;
        

        &:last-child{
            margin-bottom: 150px;
        }

        @media screen and (max-width: 1200px){
            padding: 0 15px;
        }
        @media screen and (max-width: 992px){
            justify-content: space-around;
        }
    }

    &__title{
        font-family: $def-font;
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        text-align: center;
        color: $color-gray;
        position: relative;
        margin: 0 0 147px;

        &::before{
            content: "";
            position: absolute;
            width: 100px;
            height: 1px;
            background-color: $color-gray;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
        }

        @media screen and (max-width: 992px){
            margin: 0 0 75px;
        }
    }

    

    &__img-item{
        z-index: 1;
        max-width: 630px;
        width: 100%;
        max-height: 470px;

        @media screen and (max-width: 1200px){
            max-width: 520px;
        }

        @media screen and (max-width: 992px){
            max-width: 400px;
        }

    }

}

.bg-fon{
    
    &::before{
        content: "";
        position: absolute;
        width: calc(52% - 260px);
        height: calc(52% - 260px);
        background-color: #55B7FF;
        top: 274px;
        left: 0;

        @media screen and (max-width: 992px){
            top: 225px;
        }
    }

    &::after{
        content: "";
        position: absolute;
        width: calc(52% - 260px);
        height: calc(52% - 260px);
        background-color: #7E5AFF;
        bottom: 57px;
        right: 0;
        z-index: -1;

        @media screen and (max-width: 1200px){
            bottom: 38px;
        }
        @media screen and (max-width: 992px){
            bottom: 54px;
        }
        
    }
    

}




.content{
    padding: 0;
    max-width: 476px;

    &__uptitle{
        font-family: $def-font;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        color: $color-gray;

        @media screen and (max-width: 992px){
            font-size: 19px;
            line-height: 27px;
        }
    }

    &__title{
        font-family: $def-font;
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        color: $color-gray;
        margin-bottom: 19px;

        @media screen and (max-width: 1200px){
            font-size: 40px;
            line-height: 45px;
        }
        @media screen and (max-width: 992px){
            font-size: 34px;
            line-height: 38px;
        }
    }

    &__subtitle{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: $color-gray;
        margin-bottom: 40px;
        overflow: hidden;
	    text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

    &__map{
        margin-top: 77px;
        margin-left: 19px;
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: $color-black;
        position: relative;

        &::before{
            content: url(../images/project_geometka.svg);
            position: absolute;
            width: 9px;
            height: 17px;
            left: -19px;
            top: 50%;
            transform: translateY(-50%);
        }

        @media screen and (max-width: 1200px){
            margin-top: 50px;
        }
        
    }

    @media screen and (max-width: 992px){
        max-width: 430px;
    }
    

}

.content-right{
    margin-left: 70px;
}

.content-left{
    margin-right: 64px;
}
