@use 'sass:math';
@import "reset";
@import "vars";
@import "extend";
@import "mixins";
@import "global";
@import "header";
@import "hero";
@import "projects";
@import "news";
@import "gallery";
@import "contact";
