$color-bg: #fff;
$color-headers: #392C72;
$color-main: #4F4F4F;
$color-contrast: #9E8CFC;
$color-nav-shadow: rgba(0, 0, 0, 0.15);
$color-item-shadow: rgba(158, 140, 252, 0.7);
$color-subheader: #828282;
