$blog-margin-bottom: 20px;

.blog {
    &__item {
        &:first-child {
            &.blog-article {
                flex-direction: row;
            }

            .blog-article__img {
                width: 40%;
                margin-bottom: 0;
            }

            .blog-article__info {
                width: 60%;
                box-sizing: border-box;
                padding-left: 30px;
            }
        }

        // &:nth-child(3n+4) {
        //     .blog-article__img-wrapper {
        //         padding-top: 40%;
        //     }
        // }
    }
}

.blog-article {
    display: flex;
    flex-direction: column;

    &__img {
        width: 100%;
        height: 330px;
        margin-bottom: $blog-margin-bottom;
        object-fit: cover;
        object-position: center;

        @include media(md) {
            height: 250px;
        }

        @include media(sm) {
            height: 230px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__title {
        text-transform: uppercase;
        font-size: 30px;
        margin: 0 0 $blog-margin-bottom 0;
    }

    &__text {
        margin-bottom: $blog-margin-bottom;
        flex-grow: 1;
    }

    &__btn {
        align-self: flex-end;
    }
}
