.quote {
    

    &__wrapper{
        padding: 100px 300px 100px 160px;
        background-image: url(../images/quote_bg.jpg);

        @media screen and (max-width: 1200px) {
            padding: 60px 200px 60px 160px;
        }

        @media screen and (max-width: 992px) {
            padding: 60px 140px 50px 140px;
        }

        @media screen and (max-width: 768px) {
            padding: 50px 90px 30px 100px;
        }

        @media screen and (max-width: 576px) {
            padding: 30px;
        }
        
    }

    &__title {
        font-weight: 400;
        font-size: 32px;
        line-height: 46px;
        letter-spacing: 0.04em;
        color: $title-dark;
        margin-bottom: 40px;
        position: relative;

        &::before{
            content: '';
            background-image: url(../images/quote_vector_light.png);
            width: 100px;
            height: 85px;
            position: absolute;
            left: -59px;
            top: -28px;
            @extend %transition;

            @media screen and (max-width: 992px) {
                width: 70px;
                height: 65px;
                background-size: contain;
                background-repeat: no-repeat;
            }

            @media screen and (max-width: 992px) {
                width: 50px;
                height: 50px;
                left: -30px;
                top: -15px;
            }

            @media screen and (max-width: 576px) {
                width: 30px;
                height: 30px;
                left: -15px;
                top: -5px;
            }
        }

        @media screen and (max-width: 992px) {
            font-size: 25px;
            line-height: 35px;
        }

        @media screen and (max-width: 768px) {
            font-size: 20px;
            line-height: 30px;
        }

        @media screen and (max-width: 576px) {
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 20px;
        }
    }


    &__text {
        font-family: 'Playfair Display';
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.08em;
        color: $title-dark;

        @media screen and (max-width: 992px) {
            font-size: 17px;
        }

        @media screen and (max-width: 576px) {
            font-size: 12px;
        }
    }
}
