$gap: 15px;
$grid-max-width: 1200px;

$break-points: (
    "lg": 1200px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px,
    "xxs": 480px
);

.container {
    max-width: $grid-max-width;
    margin: 0 auto;
    padding-left: $gap;
    padding-right: $gap;
}



@mixin media($point) {
    @media screen and (max-width: map-get($break-points, $point)) {
        @content;
    }
}

@mixin grid($count: 12) {
    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 (-$gap);
    }



    @for $i from 1 through $count {
        $width: math.div(100%, $count) * $i;

        .col-#{$i} {
            padding-left: $gap;
            padding-right: $gap;
            box-sizing: border-box;
            max-width: $width;
            width: 100%;
            flex-basis: $width;
        }
    }

    @each $breakpoint,
    $breakpoint-value in $break-points {
        @media screen and (max-width: $breakpoint-value) {
            @for $i from 1 through $count {
                $width: math.div(100%, $count) * $i;

                .col-#{$breakpoint}-#{$i} {
                    padding-left: $gap;
                    padding-right: $gap;
                    box-sizing: border-box;
                    max-width: $width;
                    width: 100%;
                    flex-basis: $width;
                }
            }
        }
    }
}
