.tril {
    margin-top: -280px;
    
    
    &__wrapper {
        @extend %df;
        flex-wrap: nowrap;
        position: relative;
    }

    &__img {
        img {
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }   
    }

    &__content {
        width: 100%;
        max-width: 770px;
        background-color: $bg-block-light;
        padding: 45px 0 56px;
        position: absolute;
        right: 0;
        top: 45px;
        @extend %df;
        align-items: flex-start;
        flex-wrap: nowrap;
        @extend %transition;

        @media screen and (max-width: 1200px) {
            padding: 40px 0 40px;
    
        }

        @media screen and (max-width: 992px) {
            max-width: 600px;
            top: 60px;
        }

        @media screen and (max-width: 768px) {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        @media screen and (max-width: 576px) {
            flex-direction: column;
            align-items: center;
            padding: 44px 0 10px;

        }
    }

    &__number {
        width: 100%;
        max-width: 370px;
        padding: 0 56px;

        @media screen and (max-width: 768px) {
            padding: 0 30px;
        }
    }

    

    &__number-box {
        position: relative;
        margin-bottom: 80px;
        
        &:last-child{
            margin-bottom: 0;
        }

        &:nth-child(2){

            &::before{
                content: '';
                position: absolute;
                width: 100px;
                height: 1px;
                background-color: #85BBB1;
                top: -40px;
                left: 50%;
                transform: translateX(-50%);

                @media screen and (max-width: 576px) {
                    top: -10px;
                }
            }

            &::after{
                content: '';
                position: absolute;
                width: 100px;
                height: 1px;
                background-color: #85BBB1;
                bottom: -40px;
                left: 50%;
                transform: translateX(-50%);

                @media screen and (max-width: 576px) {
                    bottom: -10px;
                }
            }
            
        }

        @media screen and (max-width: 768px) {
            margin-bottom: 70px;
        }

        @media screen and (max-width: 576px) {
            margin-bottom: 20px;
        }

    }

    &__title {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 68px;
        line-height: 72px;
        text-align: center;
        color: $title-light;

        @media screen and (max-width: 1200px) {
            font-size: 55px;
            line-height: 65px;
        }

        @media screen and (max-width: 768px) {
            font-size: 50px;
            line-height: 60px;
        }

        @media screen and (max-width: 576px) {
            font-size: 20px;
            line-height: 20px;
        }


    }

    &__subtitle {
        @extend %main-text-light;
        text-align: center;
        display: block;
        margin-top: 12px;

        @media screen and (max-width: 576px) {
            margin-top: 8px;
        }
    }

    &__info {
        width: 100%;
        max-width: 400px;

        @media screen and (max-width: 576px) {
            padding: 10px;
        }
    }

    &__text {
        @extend %main-text-light;
        margin-bottom: 50px;

        @media screen and (max-width: 576px) {
            text-align: center;
            margin-bottom: 10px;
        }
    }

    &__link{
        @media screen and (max-width: 576px) {
            display: block;
            max-width: 140px;
            width: 100%;
            margin: 0 auto -15px;
        }
    }
}

.dollar {
    font-size: 40px;
    line-height: 50px;
    color: $dolar-light;
    margin-right: 10px;

    @media screen and (max-width: 576px) {
        font-size: 15px;
        line-height: 20px;
    }
}
