body {
    font-family: sans-serif;
    padding: 5%;
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

header>h1 {
    font-weight: 700;
}

header>h1>span {
    font-size: 0.6em;
}

.container {
    display: grid;
    grid-template-columns: 15% 85%;
}

nav ul {
    position: sticky;
    top: 20px;
}

nav li {
    margin-top: 20px;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

h3 {
    font-weight: 600;
    padding-top: 20px;
}

p {
    margin-top: 20px;
    line-height: 1.2em;
}

a:link {
    color: #000;
}

a:visited {
    color: #000;
}

table {
    width: 100%;
    margin-top: 20px;
}

table td,
.contacts li {
    padding-top: 10px;
    padding-bottom: 10px;
}

table li {
    margin-top: 10px;
}

td {
    vertical-align: top;
}

section.container_about {
    display: grid;
    grid-template-columns: 30% 67%;
    gap: 3%;
}

section.container_about img {
    margin-top: 20px;
    width: 100%;
    border-radius: 3%;
}

img {
    width: 30%;
    border-radius: 3%;
}
