.page {
    text-align: center;
    font-style: normal;
    background-color: $color_bg;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $color_text;
}

.page__header {
    margin-top: 120px;
    margin-bottom: 40px;
}

.page__container {
    max-width: $grid_content-max-width;
    padding-left: calc($grid-gap / -2);
    padding-right: calc($grid-gap / -2);
    margin: 0 auto;
}

.page__row {
    margin: 0 calc($grid-gap / -2);
    display: flex;
}

%page__col_parameters {
    box-sizing: border-box;
    padding: calc($grid-gap / -2);
}

.page__col-1 {
    width: calc(100% / 12);
    @extend %page__col_parameters;
}

.page__col-2 {
    width: calc(100% / 6);
    @extend %page__col_parameters;
}

.page__col-3 {
    width: 25%;
    @extend %page__col_parameters;
}

.page__col-4 {
    width: calc(100% / 3);
    @extend %page__col_parameters;
}

.page__col-5 {
    width: calc(100% / 12 * 5);
    @extend %page__col_parameters;
}

.page__col-6 {
    width: 50%;
    @extend %page__col_parameters;
}

.page__col-7 {
    width: calc(100% / 12 * 7);
    @extend %page__col_parameters;
}

.page__col-8 {
    width: calc(100% /3 * 2);
    @extend %page__col_parameters;
}

.page__col-9 {
    width: 75%;
    @extend %page__col_parameters;
}

.page__col-10 {
    width: calc(100% / 12 * 10);
    @extend %page__col_parameters;
}

.page__col-11 {
    width: calc(100% / 12 * 11);
    @extend %page__col_parameters;
}

.page__col-12 {
    width: 100%;
    @extend %page__col_parameters;
}
