.h1 {
    padding-top: 15px;

    &__main-header {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        text-transform: capitalize;
        color: $color_headers;
    }

    &__subheader {
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
    }

    &__subheader::before {
        display: block;
        content: '';
        width: 100px;
        height: 1px;
        border-bottom: 1px solid $color_contrast;
        margin: 30px auto;
    }
}

.social-media-list {
    display: flex;
    justify-content: space-between;
    width: 135px;

    &__item {
        margin-top: 30px;
        margin-bottom: 49px;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        border: 2px solid $color_icons;
        border-radius: 50%;
        text-align: center;
    }

    &__link {
        display: block;
        margin: 0 auto;
    }

    &__image {
        display: inline-block;
    }
}

.view-profile__link {
    display: block;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: $color_headers;
    margin-top: 49px;
    padding: 5px 10px;
    border: 1px solid $color_contrast;
    position: relative;

    &::before {
        content: '';
        z-index: 100;
        display: block;
        width: 50px;
        height: 4px;
        box-sizing: border-box;
        border: 2px solid $color_contrast;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -30px;
    }

    &::after {
        content: '';
        z-index: 200;
        display: block;
        width: 20px;
        height: 4px;
        border: 5px solid $color_bg;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -35px;
    }
}
