html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

body {
    background-color: #3B3F45;
    text-align: center;
}

header.header {
    background-color: #4A4F56;
    color: #FF8984;
}

header.header>h1 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.7rem;
    padding-top: 19px;
    padding-bottom: 12px;
}

header.header>h1>span {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8rem;
}

main {
    margin: 20px auto 45px auto;
    max-width: 534px;
}

main>form {
    text-align: left;
}

main>form input {
    display: none;
}

main>form label>* {
    display: inline-block;
    vertical-align: middle;
}

main>form label:nth-of-type(odd) {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #88839E;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

main>form label:nth-of-type(even) {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #625E77;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

main>form label:hover {
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
}

main>form label:active {
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    background-color: #FF8984;
}

main>form label: {
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
}


main>form span.custom_checkbox {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-color: #fff;
    margin-right: 16px;
}

main>form span.maintext {
    font-size: 1.8rem;
    line-height: 1.9rem;
    margin-right: 3px;
}

main>form span.subtext {
    font-size: 1.1rem;
    line-height: 1.3rem;
}

main>form span.subtext::before {
    content: "(";
}

main>form span.subtext::after {
    content: ")";
}

main>form input:checked+label>span.custom_checkbox {
    background-image: url(../images/check.svg);
    background-position: center;
    background-repeat: no-repeat;
}

main>form input:checked+label>span.maintext,
main>form input:checked+label>span.subtext {
    color: #9B96AC;
    text-decoration: line-through;
}

footer.footer {
    max-width: 534px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4A4F56;
    margin: 0 auto;
}

footer.footer>p {
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #FF8984;
}
