body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header_size {
    box-sizing: border-box;
    height: 80px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-bottom: 70px;
}

.header_float {
    height: 50px;
    float: left;
}

.first_logo {
    margin-top: 7px;
    margin-bottom: 7px;
}

.second_menu {
    margin-top: 9px;
    margin-bottom: 9px;
}

.header_float+.header_float {
    margin-left: 185px;
}

.menu {
    font-size: 16px;
    text-decoration: none;
}

.menu_decoration {
    text-decoration: none;
    color: #2F281E;
}

.menu_decoration:hover {
    color: #FF9900;
}

ul>li {
    display: inline-block;
}

li+li {
    margin-left: 20px;
}

.sing_in {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    vertical-align: sub;
}

.but_sign_in {
    width: 110px;
    height: 45px;
    text-decoration: none;
}

.first_but_style {
    display: inline-block;
    background-color: white;
    border: 1px solid #BCD0E5;
    text-align: center;
}

.second_but_style {
    display: inline-block;
    background-color: #FF9900;
    margin-left: 32px;
    color: #FFFFFF;
    border: none;
    text-align: center;
}

.block {
    float: left;
    max-height: 495px;
}

.get_started {
    box-sizing: border-box;
    padding: 97px 56px 97px 0;
}

.img_people {
    max-width: 644px;
    max-height: 495px;
}

.block_text {
    max-width: 500px;
    height: 301px;
}

.block_text_header {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
}

.block_text_description {
    color: #544837;
    margin-top: 30px;
    margin-bottom: 30px;
}

.get_started_button_design {
    width: 180px;
    height: 50px;
    padding: 13px 40px;
    background-color: #FF9900;
    border: none;
    text-decoration: none;
    display: block;
    text-align: center;
    box-sizing: border-box;
}

.get_started_button_text {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    vertical-align: super;
}
