.benefits {
    padding: 120px 0;


    &__item {
        position: relative;
        margin-bottom: 60px;
        padding: 20px 35px 52px;

        &::before{
            content: '';
            position: absolute;
            width: calc(100% - 30px);
            height: 1px;
            background-color: $dolar-light;
            top: -30px;
            left: 15px;

            @media screen and (max-width: 576px) {
                top: -10px;
            }
        }

        @media screen and (max-width: 1200px) {
            margin-bottom: 20px;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
            max-width: unset;
            margin-bottom: unset;
            padding: 0 35px 52px;
        }

        @media screen and (max-width: 576px) {
            padding: 0 35px 25px;
        }

    }

    &__title {
        @extend %main-title-light;
        margin-bottom: 30px;

        @media screen and (max-width: 768px) {
            margin-bottom: 15px;
            text-align: center;
        }

        @media screen and (max-width: 576px) {
            margin-bottom: 10px;
        }
    }


    &__text {
        @extend %main-text-light;

        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }

    &__center{
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    @media screen and (max-width: 1200px) {
        padding-bottom: 20px;  
    }

    @media screen and (max-width: 768px) {
        padding-top: 70px;  
    }

    @media screen and (max-width: 576px) {
        padding-top: 60px;
        padding-bottom: unset;
    }
}
