.position {
    margin: 0 150px 0;
    padding: 50px;
    height: 550px;
    background-color: aquamarine;
    /* display: inline-block; */
    position: relative;
    z-index: 100;
    transform: translate(1px, 1px);
}

/* .position div {
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; 
    z-index: 100;
}

.position .two {
    background-color: red;
    transform: translate(-65%, -65%);
    z-index: 200;
}

*/

.two {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: red;
}


.modal {
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .5s ease-in-out;
}

.modal.open {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.modal.open .modal__window {
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal h1,
.modal h2,
.modal h3,
.modal h4 {
    margin: 0;
}

.modal__window {
    position: absolute;
    top: 50%;
    left: -1000%;
    max-width: 500px;
    background-color: white;
    border-radius: 15px;
    transition: left .5s ease-in-out .3s;
}

.modal__header,
.modal__content,
.modal__footer {
    padding: 10px 15px;
}

.modal__header {
    position: relative;
}

.modal__content {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.modal__footer {
    text-align: right;
}

[for="modalOpen"] {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.modal-open:checked~.modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.modal-open:checked~.modal>.modal__window {
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal__close {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    /* transform-origin: top center; */
}

.modal__close:hover {
    transform: translateY(-50%) rotate(360deg) scale(2);
}

.modal__close::after,
.modal__close::before {
    content: '';
    display: block;
    width: 60%;
    height: 1px;
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 50%;
    left: 50%;
}

.modal__close::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal__close::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}
