@font-face {
    font-family: "Lucida Sans Unicode";
    font-style: normal;
    font-weight: 400;
    src: local(''), url("./lucida_sans_unicode.ttf") format('ttf');
}

body {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #3399CC;
    border: 25px solid #2B81AC;
    color: #fff;
    font-family: "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

header.header>h1 {
    font-size: 21px;
    line-height: 25px;
    max-width: 1166px;
    margin: 66px auto 40px auto;
}

main {
    max-width: 1166px;
    margin: 0 auto;
    border: 2px solid #fff;
    box-sizing: border-box;
}

main>ul {
    font-size: 0;
}

main>ul>li {
    box-sizing: border-box;
    font-size: initial;
    display: inline-block;
    border: 2px solid white;
    padding-top: 26px;
    padding-bottom: 27px;
    text-align: center;
}

p.city {
    display: block;
    font-size: 22px;
    line-height: 26px;
}

div.weather {
    margin-top: 4px;
}

div.weather>* {
    display: inline-block;
    vertical-align: middle;
}

span.temperature {
    font-size: 22px;
    line-height: 26px;
}

span.temperature::after {
    content: "°C";
}

.wi {
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 61px;
    margin-left: 15px;
}

footer.footer>p {
    max-width: 1166px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 19px;
    margin-top: 37px;
    margin-bottom: 94px;
}

main>ul>li:nth-child(1) {
    background: #3399CC;
    width: 50%;
}

main>ul>li:nth-child(2) {
    background: #33CCCC;
    width: 25%;
}

main>ul>li:nth-child(3) {
    background: #996699;
    width: 25%;
}

main>ul>li:nth-child(4) {
    background: #C24747;
    width: 25%;
}

main>ul>li:nth-child(5) {
    background: #E2674A;
    width: 25%;
}

main>ul>li:nth-child(6) {
    background: #FFCC66;
    width: 25%;
}

main>ul>li:nth-child(7) {
    background: #99CC99;
    width: 25%;
}

main>ul>li:nth-child(8) {
    background: #669999;
    width: 25%;
}

main>ul>li:nth-child(9) {
    background: #CC6699;
    width: 50%;
}

main>ul>li:nth-child(10) {
    background: #339966;
    width: 25%;
}

main>ul>li:nth-child(11) {
    background-color: #666699;
    width: 100%;
}


/*effects*/

main {
    background-color: white;
}

main>ul:hover>li {
    opacity: 0.7;
    transition: all .1s ease-in;
}

main>ul>li:hover {
    opacity: 1;
    transition: all .1s ease-in;
}
